name: mobile_programming_lab8
description: A simple Flutter lab project demonstrating persistence (SharedPreferences, SQLite, files).
publish_to: 'none'
version: 0.0.1

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.1.0
  path_provider: ^2.0.11
  sqflite: ^2.2.8+4

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
